*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Fredoka One', cursive;

}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;   

}
.container{
    padding-top: 100px;
    padding-bottom: 200px;
    width: 100%;
    height: auto;
    position: relative;
    background-image: linear-gradient(-45deg, #ea9479, #e7588f, #4fb2d6, #46cdae);
    background-attachment: fixed;
}
.bgr-color-1{
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    background-attachment: fixed;
}
.bgr-color-2{
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    background-attachment: fixed;
}
.bgr-color-3{
    background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
    background-attachment: fixed;
}
.palette{
    position: fixed;
    top: 3%;
    right: 4%;
    font-size: 40px;
}
.list-color ul{
    position: absolute;
}

// chọn màu bgr
.list-color ul li:first-child{
    margin-bottom: 10px;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}
.list-color ul li:nth-of-type(2){
    margin-bottom: 10px;
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}
.list-color ul li:last-child{
    background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
    
}
.list-color ul {
    display: none;
}
.list-color ul li{
    list-style-type: none;
    width: 40px;
    height: 40px;
    border-radius: 100rem;
    box-shadow: #3d3d3d -1px 2px 5px 2px;

}

.toolbar{
    width:  20%;
    border-radius: 20px;
    position: fixed;
    font-size: 25px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1%;
    background-color: rgba($color: white, $alpha: 0.3);
}
.tollbar-list{
    padding: 10px;
}
.toolbar ul{
    display: flex;
    justify-content: space-around;
}
.toolbar ul li {
    list-style-type: none;
    display: inline;
    border-radius: 100rem;
    cursor: pointer;
}
.toolbar ul li ion-icon{
    padding: 5px;
}
.toolbar ul li:hover {
background-color: #a5e296;
}
.palette ion-icon{
    background-image: linear-gradient(-45deg, #e7588f,#46cdae);
    border-radius: 100rem;
    box-shadow: #a9a9a9 0px 0px 10px 6px;
    cursor: pointer;
}
.contents{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}
.contents > div{
    width: 60%;
}
.card-info{
    background-color: rgba($color: white, $alpha: 0.3);
    border-radius: 15px;
}
.personal-information{
    padding: 20px;
    display: flex;

}
.image{
    display: flex;
    flex: 1;  
    border-right: 3px solid;
    border-color:#4fb2d6;
    padding-right: 20px;
}
.user-image{
    width: 150px;
    height: 150px;
    // border: 3px solid;
    // border-image-source: linear-gradient(to top, #f64f59, #9634c8); 
    // border-image-slice :1;
}
.user-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
    border: solid;
    border-color: #cd802e;
    box-shadow: rgb(137, 137, 137) -2px 5px 7px 0px;
    

}
.user-intro{
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    justify-content: space-around;
}
.user-intro-navigation{
    display: flex;
    justify-content: space-around;
}
.user-intro-navigation a{
    color: black;
    text-decoration: none;
}
.user-intro-navigation a > ion-icon{
    font-size: 25px;
    border-radius: 100rem;
    padding: 8px;
    background-color: white;
    box-shadow: rgb(137, 137, 137) 0px 5px 10px 0px;
}
.navigation-fb{
    position: relative;
}
.navigation-fb span{
    display: none;
}
.navigation-fb a > ion-icon:hover{
    background-color: rgb(153, 159, 248);
}
.navigation-fb:hover span{
    position: absolute;
    display: block;
    background-color: rgb(153, 159, 248);
    border-radius: 40px;
    padding: 5px;
    font-size: 18px;
    top: -95%;
    left: -50%;
    font-weight: 700;
    animation: intro ease 0.5s;
    z-index: 2;
}
.navigation-fb:hover::after{
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    background-color: rgb(153, 159, 248);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    top: -25%;
    left: 30%;
    animation: intro ease 0.5s;
    z-index: 1;
}


.navigation-ins{
    position: relative;
}
.navigation-ins span{
    display: none;
}
.navigation-ins a > ion-icon:hover{
    background-color: rgb(64, 173, 177);
}
.navigation-ins:hover span{
    position: absolute;
    display: block;
    background-color: rgb(64, 173, 177);
    border-radius: 40px;
    padding: 5px;
    font-size: 18px;
    top: -95%;
    left: -50%;
    font-weight: 700;
    animation: intro ease 0.5s;
    z-index: 2;
}
.navigation-ins:hover::after{
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    background-color: rgb(64, 173, 177);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    top: -25%;
    left: 30%;
    animation: intro ease 0.5s;
    z-index: 1;
}
.contact{
    flex: 1;
    display: flex;
    padding-left: 20px;
}
.contact-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contact-info span{
    font-size: 18px;
    overflow: hidden;
}

.card-intro{
    margin-top: 30px;
    width: 60%;

}
.intro-yourself{
    margin: 30px 0 100px 0;
}
.title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}
.title h1{
    display: inline-block;
    background-image: linear-gradient( to right,#ffce3d, #4fb2d6);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
// đổi màu text
.text-color-1{
    background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%) !important;
}
.text-color-2{
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%) !important;
}
.text-color-3{
    background-image: linear-gradient(to top, #50cc7f 0%, #f5d100 100%) !important;
}

//===============
.intro-content{
    padding: 30px 20px 50px 20px;
    background-color: rgba($color: white, $alpha: 0.3);
    border-radius: 15px;
}

.my-skills {
    margin: 30px 0 100px 0;
}
.skills-content .list-skills{
    display: flex;
    justify-content: space-around;
}
.skills-content .list-skills div{
    padding: 5%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    list-style-type: none;
    display: inline;
    text-align: center;
    font-size: 20px;
}

.skills-content .list-skills div ion-icon{
    font-size: 50px;
}
.my-project{
    margin: 30px 0 100px 0;

}
.project-box{
    display: flex;
    justify-content: center;
}
.box{
    background-color: rgba($color: white, $alpha: 0.3);
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}
.box:hover{
    transition-duration: 0.5s;
    transform: scale(1.1, 1.1);
    box-shadow: rgba(130, 130, 130, 0.773) 0px 1px 5px 2px;
}
.box > ion-icon{
    font-size: 50px;
    padding: 50px;
}
.box-container{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba( rgb(186, 186, 186), 0.5);
    display: none;
}
.open{
    display: block !important;
}
.list-project{
    position: absolute;
    left: 30%;
    right: 30%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 15px;
    background-color: white;
    box-shadow: rgb(137, 137, 137) 0px 5px 10px 0px;
    text-align: center;
    animation: intro ease 1s;

}
.close{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 2%;
    top: 2%;
    font-size: 25px;
    cursor: pointer;
}
.list-project ion-icon:hover{
    color: red;
    border-radius: 100rem;

}
.list-project ul{
    padding: 50px 10px 30px 10px;
}
.list-project ul li{
    list-style-type: none;
}
.list-project ul li a{
    text-decoration: none;
    color: black;
}
.list-project ul li a:hover{
    color: rgb(53, 138, 213);
}
@keyframes intro{
    from {
        transform: translateY((100%));
    }
    to{
        transform: translateY((-50%));
    }
}
@media screen and (max-width:1060px) {
    .personal-information{
        display: block;
    }
    .image{
        border-right: none;
        border-bottom: 3px solid;
        border-color: #4fb2d6;
        padding-right: 0; 
        padding-bottom: 30px;
    }
    .contact{
        padding-top: 30px;
        padding-left: 0px;

    }
}
@media screen and (max-width:820px) {
    .contents > div{
        width: 80%;
    }
    .personal-information{
        display: block;
    }
    .image{
        border-right: none;
        border-bottom: 3px solid;
        border-color: #4fb2d6;
        padding-right: 0; 
        padding-bottom: 30px;
    }
    .contact{
        padding-top: 30px;
        padding-left: 0px;

    }
}

@media screen and (max-width:567px){
    .contents{
        display: block;
    }
    .contents > div{
        margin: 0 auto;
    }
    .image{
        border-right: none;
        border-bottom: 3px solid;
        border-color: #4fb2d6;
        padding-right: 0; 
        padding-bottom: 30px;
    }
    .contact{
        padding-top: 30px;
        display: block;
    }
}
@media  screen and (max-width: 415px) {

    .skills-content .list-skills {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .skills-content .list-skills > div{
        width: 100px;
        height: 100px;
    }
    .list-project{
        position: absolute;
        width: 100%;
        // left: 30%;
        // right: 30%;
        // top: 50%;
        transform: translateY(-50%);
        border-radius: 15px;
        background-color: white;
        box-shadow: rgb(137, 137, 137) 0px 5px 10px 0px;
        text-align: center;
        animation: intro ease 1s;
    
    }

    
}